.terraform*

handlers/*/.*
handlers/*/package/*
handlers/*/node_modules/*
handlers/get_questions/get_questions.zip
handlers/get_tags/get_tags.zip

**/plan.out

handlers/**/dist/*
libs/**/dist/*

terraform/lambdas/plan.out
terraform/lambdas/zip_files/*.zip
terraform/rest_open_api/plan.out

terraform.tfstate*
terraform_app/zip_files/.*
app.zip
notes.txt
